/* CSS declarations go here */
body {
  color: white;
  text-align: center;
  font-family: Monaco;
  background-color: #27272b;
}

ul {
  display: flex; 
  font-size: 16px;
  text-align: left;
  white-space: pre-wrap;

}

ul > li {
  flex: 1;
  min-width: 40px;
}
